# Analyzing NYC public school test result scores

## I. Introduction

In [1]:
from IPython.display import HTML

html_content = """
<p><img src="https://imageio.forbes.com/specials-images/imageserve/640a3239b5c903c3207aa269/Page-from-SAT-test-preparation-book/960x0.jpg?format=jpg&width=1440" alt="SAT exam" height="350px" width="350px"></p>
<p><i>Photo by Thomas A.</i></p>
<br></p>
<p>Annually, American high schoolers take the SATs to assessing their skills in math, reading, and writing, with each section scoring up to 800 points. This exam plays a vital role for college admissions as these tests inform stakeholders like educators, researchers, and parents about student's school performances.</p>
<p>In this notebook, we will explore SAT data from public schools throughout New York City, contained within a singular database table named 'schools'.</p>
<h3 id="schools">schools</h3>
<table>
<thead>
<tr>
<th>column</th>
<th>type</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr>
<td>school_name</td>
<td>varchar</td>
<td>Name of school</td>
</tr>
<tr>
<td>borough</td>
<td>varchar</td>
<td>Borough that the school is located in</td>
</tr>
<tr>
<td>building_code</td>
<td>varchar</td>
<td>Code for the building</td>
</tr>
<tr>
<td>average_math</td>
<td>int</td>
<td>Average math score for SATs</td>
</tr>
<tr>
<td>average_reading</td>
<td>int</td>
<td>Average reading score for SATs</td>
</tr>
<tr>
<td>average_writing</td>
<td>int</td>
<td>Average writing score for SATs</td>
</tr>
<tr>
<td>percent_tested</td>
<td>numeric</td>
<td>Percentage of students completing SATs</td>
</tr>
</tbody>
</table>
"""

display(HTML(html_content))

## II. Data Exploration

In [2]:
import pandas as pd
import sqlite3

In [3]:
df = pd.read_csv('schools_modified.csv')

In [4]:
# Establish a connection to the database, this will create the database file if it does not exist
conn = sqlite3.connect('schools_modified.db')

# Write the data to a table in the database
df.to_sql('schools', conn, if_exists='replace', index=False)

# Close the connection
conn.close()

In [5]:
%load_ext sql

In [6]:
%sql sqlite:///schools_modified.db

In [7]:
%%sql

SELECT *
FROM schools

 * sqlite:///schools_modified.db
Done.

[('New Explorations into Science, Technology and Math High School', 'Manhattan', 'M022', 657, 601, 601, None),
 ('Essex Street Academy', 'Manhattan', 'M445', 395, 411, 387, 78.9),
 ('Lower Manhattan Arts Academy', 'Manhattan', 'M445', 418, 428, 415, 65.1),
 ('High School for Dual Language and Asian Studies', 'Manhattan', 'M445', 613, 453, 463, 95.9),
 ('Henry Street School for International Studies', 'Manhattan', 'M056', 410, 406, 381, 59.7),
 ('Bard High School Early College', 'Manhattan', 'M097', 634, 641, 639, 70.8),
 ('Urban Assembly Academy of Government and Law', 'Manhattan', 'M445', 389, 395, 381, 80.8),
 ('Marta Valle High School', 'Manhattan', 'M025', 438, 413, 394, 35.6),
 ('University Neighborhood High School', 'Manhattan', 'M446', 437, 355, 352, 69.9),
 ('New Design High School', 'Manhattan', 'M445', 381, 396, 372, 73.7),
 ('Pace High School', 'Manhattan', 'M131', 430, 435, 427, 87.8),
 ('High School for Health Professions and Human Services', 'Manhattan', 'M475', 452, 445, 430, 86.9),
 ('High School for Language and Diplomacy', 'Manhattan', 'M460', 446, 433, 411, 70.2),
 ('International High School at Union Square', 'Manhattan', 'M460', 403, 330, 316, 53.2),
 ('Institute for Collaborative Education', 'Manhattan', 'M475', 501, 550, 541, 78.6),
 ('Gramercy Arts High School', 'Manhattan', 'M460', 446, 459, 455, 79.6),
 ('Urban Assembly New York Harbor School', 'Manhattan', 'M877', 446, 453, 428, 78.8),
 ('Richard R. Green High School of Teaching', 'Manhattan', 'M282', 411, 415, 409, 60.0),
 ('Millennium High School', 'Manhattan', 'M824', 577, 560, 567, 94.0),
 ('Urban Assembly School of Business for Young Women', 'Manhattan', 'M282', 418, 420, 417, None),
 ('High School of Economics and Finance', 'Manhattan', 'M833', 469, 442, 447, 66.8),
 ('Leadership and Public Service High School', 'Manhattan', 'M894', 390, 396, 392, 54.9),
 ('East Side Community School', 'Manhattan', 'M060', 454, 428, 445, 85.2),
 ('Baruch College Campus High School', 'Manhattan', 'M874', 592, 526, 531, 94.3),
 ('School of the Future High School', 'Manhattan', 'M660', 534, 533, 522, 89.9),
 ('Manhattan Village Academy', 'Manhattan', 'M873', 522, 479, 510, 98.8),
 ('NYC Lab School for Collaborative Studies', 'Manhattan', 'M070', 595, 550, 555, 79.8),
 ('Hudson High School of Learning Technologies', 'Manhattan', 'M440', 378, 407, 388, 71.8),
 ('Manhattan Business Academy', 'Manhattan', 'M440', 410, 407, 399, 69.7),
 ('Landmark High School', 'Manhattan', 'M440', 386, 386, 386, 30.6),
 ('High School of Fashion Industries', 'Manhattan', 'M600', 433, 442, 427, 80.6),
 ('NYC Museum School', 'Manhattan', 'M070', 560, 530, 522, 90.0),
 ('Chelsea Career and Technical Education High School', 'Manhattan', 'M615', 439, 418, 400, 80.4),
 ('NYC iSchool', 'Manhattan', 'M615', 518, 515, 503, 96.0),
 ('Manhattan Academy for Arts and Language', 'Manhattan', 'M620', 350, 334, 321, 46.1),
 ('Unity Center for Urban Technologies', 'Manhattan', 'M620', 375, 385, 387, 62.8),
 ('Business of Sports School', 'Manhattan', 'M625', 395, 386, 371, 67.5),
 ('Facing History School', 'Manhattan', 'M535', 366, 356, 371, 57.3),
 ('High School of Hospitality Management', 'Manhattan', 'M535', 451, 433, 424, None),
 ('Urban Assembly School of Design and Construction', 'Manhattan', 'M535', 445, 417, 403, 60.6),
 ('High School for Environmental Studies', 'Manhattan', 'M834', 469, 454, 444, 74.0),
 ('Art and Design High School', 'Manhattan', 'M488', 455, 475, 458, 70.1),
 ('Manhattan Bridges High School', 'Manhattan', 'M535', 409, 360, 347, 84.4),
 ('Urban Assembly Gateway School for Technology', 'Manhattan', 'M625', 445, 432, 415, 78.4),
 ('Food and Finance High School', 'Manhattan', 'M535', 428, 435, 421, 52.0),
 ('Eleanor Roosevelt High School', 'Manhattan', 'M855', 641, 617, 631, 86.0),
 ('High School for Arts, Imagination, and Inquiry', 'Manhattan', 'M490', 375, 389, 380, 58.8),
 ('Urban Assembly School for Media Studies', 'Manhattan', 'M490', 392, 419, 396, 49.5),
 ('Beacon High School', 'Manhattan', 'M837', 583, 586, 595, 82.8),
 ('Fiorello H. LaGuardia High School of Music and Art and Performing Arts', 'Manhattan', 'M485', 592, 592, 597, 88.5),
 ('High School of Arts and Technology', 'Manhattan', 'M490', 421, 428, 406, 44.4),
 ('Manhattan / Hunter Science High School', 'Manhattan', 'M490', 581, 531, 535, 97.2),
 ('High School for Law, Advocacy, and Community Justice', 'Manhattan', 'M490', 415, 417, 402, 60.5),
 ('Urban Assembly School for Green Careers', 'Manhattan', 'M470', 393, 371, 378, 60.0),
 ('Frank McCourt High School', 'Manhattan', 'M470', 489, 491, 500, 89.1),
 ('Global Learning Collaborative', 'Manhattan', 'M470', 406, 407, 413, 59.4),
 ('Wadleigh Secondary School for the Performing and Visual Arts', 'Manhattan', 'M088', 381, 401, 392, 52.6),
 ('Frederick Douglass Academy II Secondary School', 'Manhattan', 'M088', 390, 384, 373, None),
 ('Columbia Secondary School', 'Manhattan', 'M125', 583, 561, 546, 88.2),
 ('Academy for Social Action (College Board)', 'Manhattan', 'M043', 357, 349, 365, 54.0),
 ('Urban Assembly School for the Performing Arts', 'Manhattan', 'M043', 379, 399, 388, 76.7),
 ('Heritage School', 'Manhattan', 'M107', 385, 380, 370, 56.8),
 ('Central Park East High School', 'Manhattan', 'M013', 483, 468, 439, 97.9),
 ('Park East High School', 'Manhattan', 'M495', 429, 433, 435, 89.6),
 ("Young Women's Leadership School", 'Manhattan', 'M895', 478, 465, 472, 100.0),
 ('Manhattan Center for Science and Mathematics', 'Manhattan', 'M435', 556, 505, 495, 87.6),
 ('Mott Hall High School', 'Manhattan', 'M136', 416, 445, 440, 36.9),
 ('Thurgood Marshall Academy for Learning and Social Change', 'Manhattan', 'M970', 402, 394, 400, 84.7),
 ('High School for Mathematics, Science, and Engineering at City College', 'Manhattan', 'M812', 683, 610, 596, 92.6),
 ('A. Philip Randolph Campus High School', 'Manhattan', 'M540', 459, 453, 447, 74.0),
 ('Gregorio Luperon High School for Science and Mathematics', 'Manhattan', 'M876', 383, 355, 352, 71.0),
 ('Community Health Academy of the Heights', 'Manhattan', 'M814', 387, 389, 385, 55.3),
 ('Washington Heights Expeditionary Learning School', 'Manhattan', 'M143', 443, 423, 434, 87.0),
 ('Coalition School for Social Change', 'Manhattan', 'M045', 344, 368, 367, 40.5),
 ('Repertory Company High School for Theatre Arts', 'Manhattan', 'M896', 425, 451, 458, 89.5),
 ('Professional Performing Arts High School', 'Manhattan', 'M017', 496, 520, 516, 72.2),
 ('Jacqueline Kennedy Onassis High School', 'Manhattan', 'M486', 418, 422, 415, None),
 ('Murry Bergtraum High School for Business Careers', 'Manhattan', 'M520', 418, 415, 398, 44.3),
 ('Frederick Douglass Academy', 'Manhattan', 'M010', 463, 452, 450, 65.1),
 ('High School for Media and Communications', 'Manhattan', 'M465', 378, 381, 383, 33.0),
 ('College Academy', 'Manhattan', 'M465', 367, 377, 363, 41.9),
 ('High School for Law and Public Service', 'Manhattan', 'M465', 401, 394, 381, 44.1),
 ('City College Academy of the Arts', 'Manhattan', 'M218', 495, 445, 450, 95.3),
 ('High School for Health Careers and Sciences', 'Manhattan', 'M465', 374, 385, 389, 56.2),
 ('Manhattan International High School', 'Manhattan', 'M480', 438, 358, 382, 58.6),
 ('Talent Unlimited High School', 'Manhattan', 'M480', 485, 498, 496, 89.3),
 ('Vanguard High School', 'Manhattan', 'M480', 431, 409, 396, 63.8),
 ('Life Sciences Secondary School', 'Manhattan', 'M645', 435, 440, 425, 63.0),
 ('Stuyvesant High School', 'Manhattan', 'M477', 754, 697, 693, 97.4),
 ('Ralph R. McKee Career and Technical Education High School', 'Staten Island', 'R600', 420, 429, 409, 38.0),
 ('Michael J. Petrides School', 'Staten Island', 'R880', 483, 473, 470, 79.2),
 ('Curtis High School', 'Staten Island', 'R450', 453, 458, 444, 64.2),
 ('Port Richmond High School', 'Staten Island', 'R445', 432, 427, 425, 44.6),
 ('Staten Island Technical High School', 'Staten Island', 'R440', 711, 660, 670, 99.7),
 ('New Dorp High School', 'Staten Island', 'R435', 454, 446, 444, 63.7),
 ('Tottenville High School', 'Staten Island', 'R455', 494, 476, 476, None),
 ('Susan E. Wagner High School', 'Staten Island', 'R460', 496, 490, 487, 66.3),
 ('Gaynor McCown Expeditionary Learning School', 'Staten Island', 'R043', 442, 458, 454, 55.8),
 ('CSI High School for International Studies', 'Staten Island', 'R043', 477, 468, 464, 83.5),
 ('New Explorers High School', 'Bronx', 'X790', 390, 398, 376, 30.4),
 ('Bronx School for Law, Government, and Justice', 'Bronx', 'X460', 403, 409, 415, 63.8),
 ('Urban Assembly School for Careers in Sports', 'Bronx', 'X790', 402, 405, 395, 55.5),
 ('Bronx Leadership Academy II High School', 'Bronx', 'X790', 384, 355, 361, 61.3),
 ('Urban Assembly Bronx Academy of Letters', 'Bronx', 'X183', 398, 400, 405, 57.8),
 ('Health Opportunities High School', 'Bronx', 'X884', 374, 386, 382, 57.9),
 ('Community School for Social Justice', 'Bronx', 'X884', 380, 382, 362, 38.4),
 ('Alfred E. Smith Career and Technical Education High School', 'Bronx', 'X600', 390, 373, 371, 29.8),
 ('Academy for Language and Technology', 'Bronx', 'X082', 371, 334, 348, 78.9),
 ('South Bronx Preparatory (College Board)', 'Bronx', 'X149', 419, 414, 394, 76.9),
 ('International Community High School', 'Bronx', 'X139', 345, 338, 312, 58.2),
 ('Hostos-Lincoln Academy of Science', 'Bronx', 'X162', 463, 451, 435, 80.0),
 ('University Heights Secondary School', 'Bronx', 'X470', 420, 446, 424, 87.8),
 ('Mott Haven Village Preparatory High School', 'Bronx', 'X470', 377, 373, 369, 44.9),
 ('High School for Violin and Dance', 'Bronx', 'X400', 363, 401, 396, 31.3),
 ('Bronx International High School', 'Bronx', 'X400', 355, 330, 320, None),
 ('Bronx Career and College Preparatory High School', 'Bronx', 'X158', 370, 379, 381, 40.7),
 ('Bronx Center for Science and Mathematics', 'Bronx', 'X002', 513, 468, 485, 73.9),
 ('Bronx Early College Academy for Teaching and Learning', 'Bronx', 'X166', 424, 413, 409, 93.3),
 ('Eximius College Preparatory Academy (College Board)', 'Bronx', 'X002', 400, 391, 397, 78.2),
 ('Bronx Latin', 'Bronx', 'X158', 394, 381, 363, 81.0),
 ('School for Excellence', 'Bronx', 'X400', 377, 385, 383, 38.4),
 ('Morris Academy for Collaborative Studies', 'Bronx', 'X400', 407, 389, 386, 44.8),
 ('Frederick Douglass Academy III Secondary School', 'Bronx', 'X148', 387, 386, 386, 50.5),
 ('Urban Assembly School for Applied Math and Science', 'Bronx', 'X970', 445, 418, 422, 87.8),
 ('Bronx Collegiate Academy', 'Bronx', 'X410', 395, 401, 382, 45.5),
 ('Mott Hall Bronx High School', 'Bronx', 'X970', 417, 399, 398, 46.2),
 ('Bronx Leadership Academy High School', 'Bronx', 'X876', 375, 372, 374, 49.1),
 ('Validus Preparatory Academy: An Expeditionary Learning School', 'Bronx', 'X970', 382, 375, 384, 59.2),
 ('Bronx High School for Medical Science', 'Bronx', 'X410', 431, 421, 426, 83.9),
 ('Eagle Academy for Young Men', 'Bronx', 'X465', 398, 410, 397, 65.7),
 ('Bronx High School of Business', 'Bronx', 'X410', 365, 360, 346, 33.3),
 ('DreamYard Preparatory School', 'Bronx', 'X410', 385, 385, 388, 51.1),
 ('Theatre Arts Production Company School', 'Bronx', 'X137', 402, 421, 410, 77.7),
 ('West Bronx Academy for the Future', 'Bronx', 'X435', 404, 383, 378, None),
 ('Bronx High School for Law and Community Service', 'Bronx', 'X435', 401, 402, 386, 64.8),
 ('Belmont Preparatory High School', 'Bronx', 'X435', 413, 408, 402, 55.3),
 ('Fordham High School for the Arts', 'Bronx', 'X435', 398, 404, 412, 56.2),
 ('Knowledge and Power Preparatory Academy International High School (KAPPA)', 'Bronx', 'X435', 408, 417, 404, 66.7),
 ('Fordham Leadership Academy for Business and Technology', 'Bronx', 'X435', 355, 373, 368, 44.3),
 ('Metropolitan High School', 'Bronx', 'X099', 387, 388, 386, 65.9),
 ('Holcombe L. Rucker School of Community Research', 'Bronx', 'X039', 376, 372, 369, 59.0),
 ('Banana Kelly High School', 'Bronx', 'X039', 378, 391, 378, 25.7),
 ('Bronx Studio School for Writers and Artists', 'Bronx', 'X392', 417, 412, 403, 71.6),
 ('Peace and Diversity Academy', 'Bronx', 'X099', 366, 362, 365, 27.1),
 ('East Bronx Academy for the Future', 'Bronx', 'X973', 418, 406, 408, 41.1),
 ('Bronx Envision Academy', 'Bronx', 'X098', 364, 385, 366, 76.5),
 ('Fannie Lou Hamer Freedom High School', 'Bronx', 'X878', 345, 347, 339, 75.0),
 ('Explorations Academy', 'Bronx', 'X098', 377, 372, 365, 43.0),
 ('Urban Assembly School for Wildlife Conservation', 'Bronx', 'X067', 393, 397, 379, 71.1),
 ('Wings Academy', 'Bronx', 'X879', 379, 372, 373, 49.2),
 ('Renaissance High School for Musical Theater and Technology', 'Bronx', 'X405', 390, 411, 393, 52.3),
 ('Herbert H. Lehman High School', 'Bronx', 'X405', 426, 419, 407, 28.9),
 ('Bronx High School for the Visual Arts', 'Bronx', 'X839', 408, 428, 404, None),
 ('In-Tech Academy', 'Bronx', 'X368', 426, 419, 404, 85.9),
 ('Bronx School of Law and Finance', 'Bronx', 'X475', 384, 394, 366, 48.3),
 ('Bronx Engineering and Technology Academy', 'Bronx', 'X475', 394, 406, 391, 59.6),
 ('Bronx Theatre High School', 'Bronx', 'X475', 382, 384, 390, 66.7),
 ('Marble Hill High School for International Studies', 'Bronx', 'X475', 451, 417, 423, 92.9),
 ('Marie Curie School for Medicine, Nursing, and Health Professions', 'Bronx', 'X143', 423, 420, 425, 68.6),
 ('Riverdale/Kingsbridge Academy', 'Bronx', 'X141', 496, 485, 476, 69.4),
 ('New World High School', 'Bronx', 'X362', 407, 363, 358, 93.0),
 ('Bronxwood Preparatory Academy', 'Bronx', 'X362', 392, 408, 392, 43.3),
 ('Academy for Scholarship and Entrepreneurship (College Board)', 'Bronx', 'X362', 392, 408, 400, 63.4),
 ('High School for Contemporary Arts', 'Bronx', 'X425', 367, 381, 361, 41.0),
 ('Bronx Aerospace High School', 'Bronx', 'X425', 403, 410, 393, 50.5),
 ('Bronx Academy of Health Careers', 'Bronx', 'X425', 386, 380, 391, 59.4),
 ('High School of Computers and Technology', 'Bronx', 'X425', 396, 399, 377, 65.6),
 ('Bronx Lab School', 'Bronx', 'X425', 407, 416, 401, 77.4),
 ('Bronx High School for Writing and Communication Arts', 'Bronx', 'X425', 380, 437, 425, 38.1),
 ('High School for Teaching and the Professions', 'Bronx', 'X430', 372, 361, 369, 46.5),
 ('Bronx High School of Science', 'Bronx', 'X445', 714, 660, 667, 97.0),
 ('Kingsbridge International High School', 'Bronx', 'X430', 366, 311, 310, None),
 ('Discovery High School', 'Bronx', 'X430', 432, 396, 395, 39.9),
 ('Celia Cruz Bronx High School of Music', 'Bronx', 'X430', 417, 434, 425, 75.6),
 ('High School of American Studies at Lehman College', 'Bronx', 'X905', 669, 672, 672, 91.8),
 ('DeWitt Clinton High School', 'Bronx', 'X440', 445, 436, 433, 31.8),
 ('International School for Liberal Arts', 'Bronx', 'X430', 390, 387, 379, 19.2),
 ('Astor Collegiate Academy', 'Bronx', 'X415', 422, 417, 409, 57.9),
 ('Pelham Preparatory Academy', 'Bronx', 'X415', 420, 433, 425, 77.0),
 ('High School of Language and Innovation', 'Bronx', 'X415', 356, 340, 320, 72.7),
 ('Collegiate Institute for Math and Science', 'Bronx', 'X415', 488, 461, 458, 79.8),
 ('Bronxdale High School', 'Bronx', 'X415', 418, 432, 436, 72.5),
 ('Pan American International High School at Monroe', 'Bronx', 'X420', 317, 315, 292, 65.6),
 ('Cinema School', 'Bronx', 'X423', 430, 449, 448, 88.3),
 ('Monroe Academy for Visual Arts and Design', 'Bronx', 'X420', 361, 354, 351, 46.8),
 ('Mott Hall V', 'Bronx', 'X423', 430, 422, 414, 77.5),
 ('Metropolitan Soundview High School', 'Bronx', 'X420', 444, 428, 422, 52.0),
 ('High School of World Cultures', 'Bronx', 'X420', 356, 359, 347, 38.2),
 ('Millennium Art Academy', 'Bronx', 'X450', 396, 413, 395, 39.2),
 ('Bronx Guild', 'Bronx', 'X450', 365, 393, 357, 41.3),
 ('Archimedes Academy for Math, Science, and Technology Applications', 'Bronx', 'X174', 418, 430, 403, None),
 ('Pablo Neruda Academy', 'Bronx', 'X450', 394, 384, 383, 44.2),
 ("Women's Academy of Excellence", 'Bronx', 'X174', 386, 390, 389, 45.2),
 ('Felisa Rincon de Gautier Institute for Law and Public Policy', 'Bronx', 'X972', 389, 408, 413, 31.3),
 ('Antonia Pantoja Preparatory Academy (College Board)', 'Bronx', 'X450', 435, 415, 423, 44.9),
 ('Bronx Health Sciences High School', 'Bronx', 'X455', 407, 421, 427, 87.1),
 ('Harry S. Truman High School', 'Bronx', 'X455', 400, 401, 391, 41.5),
 ('Queens Vocational and Technical High School', 'Queens', 'Q600', 467, 436, 432, 53.4),
 ('High School of Applied Communication', 'Queens', 'Q735', 435, 437, 441, 70.9),
 ('Middle College High School at LaGuardia Community College', 'Queens', 'Q520', 377, 389, 377, 48.7),
 ('Academy for Careers in Television and Film', 'Queens', 'Q404', 444, 458, 444, 95.0),
 ('Aviation Career and Technical Education High School', 'Queens', 'Q610', 511, 464, 456, 78.6),
 ('Academy of American Studies', 'Queens', 'Q451', 495, 482, 479, 84.8),
 ('Newcomers High School', 'Queens', 'Q450', 490, 374, 381, 47.1),
 ('Bard High School Early College Queens', 'Queens', 'Q735', 631, 598, 610, 94.1),
 ('International High School at LaGuardia Community College', 'Queens', 'Q520', 425, 367, 365, 71.7),
 ('Information Technology High School', 'Queens', 'Q725', 443, 420, 411, 58.8),
 ('Robert F. Wagner Jr. Secondary School for Arts and Technology', 'Queens', 'Q891', 478, 445, 445, 71.1),
 ('Academy of Finance and Enterprise', 'Queens', 'Q735', 489, 456, 459, 92.7),
 ("Young Women's Leadership School in Astoria", 'Queens', 'Q739', 483, 464, 477, None),
 ('William Cullen Bryant High School', 'Queens', 'Q445', 466, 424, 426, 56.9),
 ('Long Island City High School', 'Queens', 'Q452', 430, 423, 412, 51.6),
 ('Frank Sinatra School of the Arts High School', 'Queens', 'Q570', 536, 543, 543, 89.5),
 ('Baccalaureate School for Global Education', 'Queens', 'Q798', 633, 620, 628, 98.5),
 ('Science Skills Center High School for Science, Technology, and the Creative Arts', 'Brooklyn', 'K805', 399, 397, 386, 65.9),
 ('Brooklyn International High School', 'Brooklyn', 'K805', 432, 334, 333, 92.7),
 ('School for International Studies', 'Brooklyn', 'K293', 417, 406, 394, 65.1),
 ('Brooklyn School for Global Studies', 'Brooklyn', 'K293', 393, 381, 402, 61.8),
 ('City Polytechnic High School of Engineering, Architecture, and Technology', 'Brooklyn', 'K580', 503, 477, 427, 18.5),
 ('Urban Assembly Institute of Math and Science for Young Women', 'Brooklyn', 'K313', 397, 415, 407, 82.4),
 ('Urban Assembly School for Law and Justice', 'Brooklyn', 'K313', 446, 443, 430, 87.6),
 ('Cobble Hill School of American Studies', 'Brooklyn', 'K804', 416, 420, 402, 55.3),
 ('George Westinghouse Career and Technical Education High School', 'Brooklyn', 'K580', 394, 422, 400, 45.3),
 ('Urban Assembly High School of Music and Art', 'Brooklyn', 'K805', 372, 372, 361, 55.1),
 ('Cultural Academy for the Arts and Sciences', 'Brooklyn', 'K415', 382, 395, 384, 57.3),
 ('Kurt Hahn Expeditionary Learning School', 'Brooklyn', 'K415', 378, 394, 388, 72.6),
 ('School for Human Rights', 'Brooklyn', 'K470', 398, 411, 400, 60.8),
 ('It Takes a Village Academy', 'Brooklyn', 'K415', 364, 374, 361, 62.2),
 ('High School for Public Service: Heroes of Tomorrow', 'Brooklyn', 'K470', 468, 454, 464, None),
 ('Arts and Media Preparatory Academy', 'Brooklyn', 'K232', 370, 383, 374, 64.2),
 ('School for Democracy and Leadership', 'Brooklyn', 'K470', 386, 385, 390, 53.5),
 ('Urban Assembly School for Criminal Justice', 'Brooklyn', 'K223', 428, 413, 417, 83.6),
 ('Franklin Delano Roosevelt High School', 'Brooklyn', 'K505', 504, 411, 407, 54.0),
 ('Brooklyn Community High School of Communication, Arts, and Media', 'Brooklyn', 'K117', 358, 386, 380, 51.7),
 ('Dr. Susan S. McKinney Secondary School of the Arts', 'Brooklyn', 'K265', 332, 346, 350, 55.1),
 ('Benjamin Banneker Academy', 'Brooklyn', 'K914', 479, 484, 472, 85.5),
 ('Juan Morel Campos Secondary School', 'Brooklyn', 'K071', 366, 356, 353, 56.3),
 ('Brooklyn Latin School', 'Brooklyn', 'K049', 625, 588, 591, 97.5),
 ('Green School: An Academy for Environmental Careers', 'Brooklyn', 'K049', 384, 398, 399, 41.1),

***Note:** It appears that there are a few missing values in the percent_tested column.*

### 1. How many schools did not report `percent_tested` information?

In [8]:
%%sql 

SELECT COUNT(*) - COUNT(percent_tested) as num_missing_percent, 
COUNT(*) as num_schools
FROM schools

 * sqlite:///schools_modified.db
Done.

[(20, 375)]

There are 20 schools with missing `percent_tested` value, which accounting for just 5% of our database.

### 2. Which schools are best/worst in each of the three subjects—math, reading, and writing?

#### Top 5 schools by average Math score:

In [9]:
%%sql 

SELECT school_name, average_math FROM schools 
ORDER BY average_math DESC 
LIMIT 5

 * sqlite:///schools_modified.db
Done.

[('Stuyvesant High School', 754),
 ('Bronx High School of Science', 714),
 ('Staten Island Technical High School', 711),
 ('Queens High School for the Sciences at York College', 701),
 ('High School for Mathematics, Science, and Engineering at City College', 683)]

#### Bottom 5 schools by average Math score:

In [10]:
%%sql 

SELECT school_name, average_math FROM schools 
ORDER BY average_math ASC 
LIMIT 5

 * sqlite:///schools_modified.db
Done.

[('Pan American International High School at Monroe', 317),
 ('Multicultural High School', 319),
 ('W. H. Maxwell Career and Technical Education High School', 326),
 ('Dr. Susan S. McKinney Secondary School of the Arts', 332),
 ('Pan American International High School', 340)]

#### Top 5 schools by average Reading score:

In [11]:
%%sql 

SELECT school_name, average_reading FROM schools 
ORDER BY average_reading DESC 
LIMIT 5

 * sqlite:///schools_modified.db
Done.

[('Stuyvesant High School', 697),
 ('High School of American Studies at Lehman College', 672),
 ('Staten Island Technical High School', 660),
 ('Bronx High School of Science', 660),
 ('Bard High School Early College', 641)]

#### Bottom 5 schools by average Reading score:

In [12]:
%%sql 

SELECT school_name, average_reading FROM schools 
ORDER BY average_reading ASC 
LIMIT 5

 * sqlite:///schools_modified.db
Done.

[('International High School at Prospect Heights', 302),
 ('Kingsbridge International High School', 311),
 ('Pan American International High School at Monroe', 315),
 ('Pan American International High School', 320),
 ('Multicultural High School', 323)]

#### Top 5 schools by average Writing score:

In [13]:
%%sql 

SELECT school_name, average_writing FROM schools 
ORDER BY average_writing DESC 
LIMIT 5

 * sqlite:///schools_modified.db
Done.

[('Stuyvesant High School', 693),
 ('High School of American Studies at Lehman College', 672),
 ('Staten Island Technical High School', 670),
 ('Bronx High School of Science', 667),
 ('Townsend Harris High School', 661)]

#### Bottom 5 schools by average Writing score:

In [14]:
%%sql 

SELECT school_name, average_writing FROM schools 
ORDER BY average_writing ASC 
LIMIT 5

 * sqlite:///schools_modified.db
Done.

[('Multicultural High School', 284),
 ('Pan American International High School at Monroe', 292),
 ('International High School at Prospect Heights', 300),
 ('Kingsbridge International High School', 310),
 ('International Community High School', 312)]

### 3. Which are the top 10 schools by average total scores?

In [15]:
%%sql 

SELECT school_name,
       (average_math + average_reading + average_writing) AS total_score
FROM schools
ORDER BY total_score DESC
LIMIT 10

 * sqlite:///schools_modified.db
Done.

[('Stuyvesant High School', 2144),
 ('Staten Island Technical High School', 2041),
 ('Bronx High School of Science', 2041),
 ('High School of American Studies at Lehman College', 2013),
 ('Townsend Harris High School', 1981),
 ('Queens High School for the Sciences at York College', 1947),
 ('Bard High School Early College', 1914),
 ('Brooklyn Technical High School', 1896),
 ('Eleanor Roosevelt High School', 1889),
 ('High School for Mathematics, Science, and Engineering at City College', 1889)]

### 4. How the test performance varies by borough?

In [16]:
%%sql 

SELECT borough,
       ROUND(AVG(average_math), 1) AS avg_math_score,
       ROUND(AVG(average_reading), 1) AS avg_reading_score,
       ROUND(AVG(average_writing), 1) AS avg_writing_score,
       ROUND(AVG(average_math + average_reading + average_writing), 1) AS total_avg_score
FROM schools
GROUP BY borough
ORDER BY total_avg_score DESC

 * sqlite:///schools_modified.db
Done.

[('Staten Island', 486.2, 478.5, 474.3, 1439.0),
 ('Queens', 462.4, 443.3, 439.9, 1345.5),
 ('Manhattan', 455.9, 444.9, 439.3, 1340.1),
 ('Brooklyn', 416.4, 410.8, 403.1, 1230.3),
 ('Bronx', 404.4, 402.5, 395.8, 1202.7)]

### 5. How many schools in each borough have an average total score above the city-wide average?

In [17]:
%%sql 

SELECT borough, 
       COUNT(*) AS num_above_city_avg
FROM schools
WHERE (average_math + average_reading + average_writing) > 
    (SELECT AVG(average_math + average_reading + average_writing) FROM schools)
GROUP BY borough
ORDER BY num_above_city_avg DESC

 * sqlite:///schools_modified.db
Done.

[('Manhattan', 45),
 ('Queens', 39),
 ('Brooklyn', 30),
 ('Bronx', 16),
 ('Staten Island', 9)]

### 6. What is the average total score for schools with above 70% tested, compared to schools with 70% or below?

In [18]:
%%sql

SELECT
  ROUND(AVG(CASE WHEN percent_tested > 70 THEN (average_math + average_reading + average_writing) END), 1) AS avg_score_above_70,
  ROUND(AVG(CASE WHEN percent_tested <= 70 OR percent_tested IS NULL THEN (average_math + average_reading + average_writing) END), 1) AS avg_score_70_or_below
FROM schools

 * sqlite:///schools_modified.db
Done.

[(1400.2, 1196.7)]